<% nest_level =  nest_level ? nest_level + 1 : 1%>
<% css_class = cookies[page.id] %>

<% if css_class == "opened" || !css_class %>
    <% val = "-" %>
<% elsif css_class == "closed" %>
    <% val = "+" %>
<% end %>
<% if page.children.present? %>

<span class="collapser" data-nest-level="<%= nest_level %>" data-parent-id="<%= page.id%>" style="font-size:20px;width: 8px;display: inline-block;font-weight:bold;margin-right: 5px;color: grey;"><%= val %></span>

<% else %>
    <span class="collapser" data-nest-level="<%= nest_level %>" data-parent-id="<%= page.id%>" style="font-size:20px;width: 8px;display: inline-block;font-weight:bold;margin-right: 5px;color: grey;"></span>
<% end %>

<%= link_to truncate(page.pretty_title, lenth:33, separator: /\w/, omission:"..."), project_wiki_page_path(@project, page.title) , {class: "wiki-link nested-#{nest_level} #{'current_wiki_page' if page.title == @title}", data: {:parent => page.id}}%>

<br>
<% if page.children.present? %>
    <div class="nest-wrapper-<%= page.id %> <%= css_class || 'opened' %>">
    <%= render partial: 'page', collection: page.children, as: :page, locals: {nest_level: nest_level, title: title} %>
    </div>
<% end %>
